*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --header-width: 230px;
    --footer-height: 100px;

    --default-space-between-items: 10px;
    --default-padding-sections: 20px;

    --max-items-for-row: 6;
    --item-size: calc((1200px - var(--header-width) - (2 * var(--default-padding-sections)) - 
        ((var(--max-items-for-row) - 1) * var(--default-space-between-items))) / var(--max-items-for-row));
}


/* UTILITIES */
.flex{
    display: flex;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}


/* HEADER */
header{
    width: var(--header-width);
    height: calc(100vh - var(--footer-height));
    background-color: black;
}








/* MAIN */
main{
    width: calc(100% - var(--header-width));
    height: calc(100vh - var(--footer-height)); /*non strettamente necessario*/
    background-color: blue;
    overflow-y: scroll;

    
}

main>section {
    padding: var(--default-padding-sections);
}

/* items */
div.items {
    justify-content: space-between;
}



/* recently */
section#recently {
    
}

/* item-disk */
article.item-disk {
    height: var(--item-size);
    width: var(--item-size);
    background-color: aquamarine;
    border: 1px solid black;
    margin-left: var(--default-space-between-items);
    margin-top: 20px;
}

article.item-disk:nth-child(1) {
    margin-left: 0;
}



/* created-for */
section#created-for {
}

section#created-for>div.items {
    --variable-space-between-item: calc(( 100% - (var(--max-items-for-row) * var(--item-size))) / (var(--max-items-for-row) - 1));
    width: calc( var(--variable-space-between-item) + (2 * var(--item-size)));
}

/* item-playlist */
article.item-playlist {
    height: var(--item-size);
    width: var(--item-size);
    background-color: aquamarine;
    border: 1px solid black;
    margin-left: var(--default-space-between-items);
    margin-top: 20px;
}

article.item-playlist:nth-child(1) {
    margin-left: 0;
}





/* FOOTER */
footer{
    width: 100%;
    height: var(--footer-height);
    background-color: gray;
}




/* MEDIA QUERIES */

@media all and (max-width: 1200px) {
    :root {
        --item-size: calc((100vw - var(--header-width) - (2 * var(--default-padding-sections)) - 
            ((var(--max-items-for-row) - 1) * var(--default-space-between-items))) / var(--max-items-for-row));
    }
    
    main{
        background-color: fuchsia;
    }

    article.item-disk {
        height: var(--item-size);
        width: var(--item-size);
    }

    div.items {
        justify-content: flex-start;
    }
}

@media all and (max-width: 992px) {
    :root {
        --max-items-for-row: 4;
    }
    
    main{
        background-color: red;
    }

    article.item-disk {
        height: var(--item-size);
        width: var(--item-size);
    }

    article.item-disk:nth-child(4n + 1) {
        margin-left: 0;
    }

    
}

@media all and (max-width: 768px) {
    :root{
        --max-items-for-row: 2;
    }
    
    main{
        background-color: orange;
    }

    article.item-disk {
        height: var(--item-size);
        width: var(--item-size);
    }

    article.item-disk:nth-child(2n + 1) {
        margin-left: 0;
    }
}

@media all and (max-width: 576px) {
    :root{
        --header-width: 50px;
    }
    
    main{
        background-color: yellow;
    }

    
}

