*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --header-width: 230px;
    --footer-height: 100px;

    --default-space-between-items: 10px;
    --default-padding-sections: 20px;

    --max-items-for-row: 6;
}


/* UTILITIES */
.flex{
    display: flex;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}


/* HEADER */
header{
    width: var(--header-width);
    height: calc(100vh - var(--footer-height));
    background-color: black;
    color: white;

    flex-direction: column;
}

header div.logo {
    border: 1px solid white;
    height: 70px;
}

header nav.main-nav {
    border: 1px solid white;
}

header nav.playlist {
    border: 1px solid white;
}

header div.profile {
    border: 1px solid white;
}







/* MAIN */
main{
    width: calc(100% - var(--header-width));
    height: calc(100vh - var(--footer-height)); /*non strettamente necessario*/
    background-color: blue;
    overflow-y: scroll;
    color: white;
}

main>section {
    padding: var(--default-padding-sections);
}


/*  bunner upgrade */
#banner-upgrade {
    height: 80px;
    width: 100%;
    background-color: gray;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}


/* recently */
section#recently {
    --items-on-section: 6;
}


/* created-for */
section#created-for {
    --items-on-section: 2;
}

/* popular-artists */
section#popular-artists>div.items {
    --items-on-section: 2;
}

article.item-artist div.cover {
    border-radius: 50%;
    overflow: hidden;
}





/* items */
div.items {
    justify-content: space-between;
    width: calc(100% * var(--items-on-section) / var(--max-items-for-row));
}

div.items h3{
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

div.items p{
    font-size: 0.8rem;
    margin-top: 0.4rem;
}

/* item*/
article.item{
    width: calc(100% / var(--items-on-section));
    max-width: calc((1200px - var(--header-width) - (2 * var(--default-padding-sections))) / var(--max-items-for-row) );
    margin-top: 20px;
    text-align: center;
}

article.item:nth-child( 6n + 1) {
    margin-left: 0;
}

.cover {
    width: 90%;
}




/* recently */
section#recently {
}



/* created-for */
section#created-for {
    --items-on-section: 2;
}

/* popular-artists */
section#popular-artists>div.items {
    --items-on-section: 2;
}

article.item-artist .cover {
    border-radius: 50%;
    overflow: hidden;
}








/* FOOTER */
footer{
    width: 100%;
    height: var(--footer-height);
    background-color: gray;
}




/* MEDIA QUERIES */

/* @media all and (max-width: 1200px) {
    :root {
        
    }
    
    main{
        background-color: fuchsia;
    }

    div.items {
        justify-content: flex-start;
    }
} */

@media all and (max-width: 992px) {
    :root {
        --max-items-for-row: 4;
    }
    
    main{
        background-color: red;
    }

    div.items {
        justify-content: flex-start;
        width: 100%;
    }

    article.item{
        width: calc(100% / var(--max-items-for-row));
        max-width: none;
    }
}

@media all and (max-width: 768px) {
    :root{
        --max-items-for-row: 2;
    }
    
    main{
        background-color: orange;
    }
}

@media all and (max-width: 576px) {
    :root{
        --header-width: 50px;
    }
    
    main{
        background-color: yellow;
    }

    
}

